.multi-button {
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
  margin: 1rem 0 3rem;
}
.multi-button button {
  min-height: 3rem;
  min-width: 8rem;
  background: linear-gradient(to bottom, $aqua, $red);
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  border: none;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-button :nth-child(1) {
  border-radius: 20px 0 0 20px;
}
.multi-button :nth-child(2) {
  border-radius: 0 20px 20px 0;
}
button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active {
  filter: none;
  transform: scale(0.95);
}
.detail {
  border-radius: 20px !important;
}
