@import "../settings/colors";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.link {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
}
