$yellow: #fafd7cff;
$pink: #e762d7ff;
$orange: #e89242ff;
$aqua: #a6eee6ff;
$lime: lime;
$lightblue: #b7e4f9ff;
$darkblue: #69c8ecff;
$violet: #24325fff;
$red: #fb6467ff;
$lightbrown: #917c5dff;
$darkbrown: #82491eff;

$background-light-color: $aqua;
$link-color: $violet;
$background-btn-color: $pink;
$btn-color: $lightblue;
